.aside {
  width: 20%;
  transition: width 0.3s;
  background-color: #f8fafc;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &.collapsed {
    width: 5%;
  }

  .toggleButton {
    background-color: #ef4444;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    transition: background-color 0.2s;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    /* Ocultar contenido cuando el Aside está colapsado */
    &.collapsed & {
      display: none;
    }
  }
}