@import "../base/constantes";
@import "../base/fuentes";

h1 {
  color: #fff;
  font-size: 1rem;
  width: 100%;
}


table {
  thead {
    tr {
      th {
        // background-color: red;
        color: #fff;
        font-size: 0.6rem;
        padding: 0.5rem;
        border: none;
      }
    }
  }
  tbody {
    tr {
      td {
        // background-color: blue;
        color: #fff;
        font-size: 0.6rem;
        padding: 0.5rem;
        border: none;
      }
    }
  }
}
